<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{common.html :: #header}"> </head>

<body>
  <div th:replace="common.html :: #menu"></div>
  <div class="container">
    <div class="row">
      <h2>La liste des assignations</h2>
    </div>
    <div class="row col-md-8">
      <p>
        <a href="/property-agent/add" class="btn btn-primary btn-sm">Nouvel assignation</a>
      </p>
      <table class="table table-bordered table-sm">
        <thead>
          <tr>
            <th>Id</th>
            <th>Propriété</th>
            <th>Agent</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="propertyAgent : ${propertyAgents}">
            <td style="width: 10%" th:text="${propertyAgent.agentId + propertyAgent.propertyId}"></td>
            <td th:text="${propertyAgent.property.address}"></td>
            <td th:text="${propertyAgent.agent.fullname}"></td>
            <td>
              <a
                th:href="@{/property-agent/update/{agentId}/{propertyId}(agentId=${propertyAgent.agentId}, propertyId=${propertyAgent.propertyId})}"><button
                  class="btn btn-info">Modifier</button></a>
              <a
                th:href="@{/property-agent/delete/{agentId}/{propertyId}(agentId=${propertyAgent.agentId}, propertyId=${propertyAgent.propertyId})}"><button
                  class="btn btn-danger">Supprimer</button></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div th:replace="common.html :: #js-script"></div>
</body>

</html>