<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{common.html :: #header}">

<body>
	<div th:replace="common.html :: #menu"></div>
	<div class="container">
		<div class="row">
			<h2>Modifier l'assignation</h2>
		</div>

		<div class="row">
			<form action="#" th:action="@{/property-agent/update}" th:object="${propertyAgent}" method="post" class="form-horizontal"
				style="width: 100%">
				<div class="form-group">
					<label for="propertyId">Propriété</label>
					<div>
						<select class="form-select" th:field="*{propertyId}" id="propertyId">
							<option th:each="property : ${properties}" th:value="${property.id}" th:text="${property.address}" />
						</select>
					</div>
					</div>
					
					<div class="form-group">
						<label for="agentId">Agent</label>
						<div>
							<select class="form-select" th:field="*{agentId}" id="agentId">
								<option th:each="agent : ${agents}" th:value="${agent.id}"
									th:text="${agent.firstname}+ ' ' + ${agent.lastname}" />
							</select>
					</div>
				</div>

				<div class="form-group">
					<div class="col-sm-12">
						<a class="btn btn-danger btn-sm" href="/property-agent/list">Annuler</a>
						<input class="btn btn-primary btn-sm" type="submit" value="Enregistrer">
					</div>
				</div>

			</form>
		</div>

	</div>
</body>

</html>